<!-- partial HTML -->
<style>
button {
	color: #ffffff;
	background-color: #217dbb;
	font-size: 2.0em;
	border-color: #16527;
}
#ov-vtap-view h2 {
    display: inline-block;
}
table {
    display: table;
    table-layout:fixed;
    width:100%;
}
tr, td {
    border: 1px solid #bcbcbc;
    overflow:hidden;/* optionnal*/
    white-space: nowrap;
}
</style>

<div id="ov-vtap-view">
    <div class="tabular-header">
        <h2>Items ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-id="refresh" icon-size="36"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>
        </div>
    </div>

    <div class="summary-list" onos-table-resize>

        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="policy_id">POLICY ID </td>
                    <td colId="mon_mac_addr">MONITOR MAC </td>
                    <td colId="dev_id">DEVICE ID </td>
                    <td colId="dev_port">DEVICE PORT </td>
                    <td colId="src_mac_addr">SRC. MAC </td>
                    <td colId="dst_mac_addr">DST. MAC </td>                    
                    <td colId="protocol">PROTOCOL </td>
                    <td colId="src_port_num">SRC. PORT NUM. </td>
                    <td colId="dst_port_num">DST. PORT NUM. </td>
                    
                    <td colId="dst_port_num">VLAN ID </td>                    
                    
                    <td colId="action">ACTION </td>
                </tr> 
           
                <tr>
                    <td>&nbsp</td>                    
                    <td><input type="text" id="mon_mac_addr" style="width:100%" ng-model="mon_mac_addr"/></td>
                    <td><input type="text" id="dev_id" style="width:100%" disabled="disabled" ng-model="dev_id" /></td>
                    <td><input type="text" id="dev_port" style="width:100%" disabled="disabled" ng-model="dev_port"/></td>
                    <td><input type="text" id="src_mac_addr" style="width:100%" ng-model="src_mac_addr"/></td>
                    <td><input type="text" id="dst_mac_addr" style="width:100%" ng-model="dst_mac_addr"/></td>
                    <td>
                        <select ng-model="protocol">
                        	<option value="Ethernet">Ethernet</option>
                            <option value="TCP">TCP</option>
                            <option value="UDP">UDP</option>
                            <option value="ICMP">ICMP</option>
                        </select>
                    </td>
                    <td><input type="text" id="src_port_num" style="width:100%" ng-model="src_port_num" /></td>
                    <td><input type="text" id="dst_port_num" style="width:100%" ng-model="dst_port_num" /></td>
                    
                    <td><input type="text" id="dst_port_num" style="width:100%" ng-model="dst_port_num" /></td>
                    
                    <td><input type="button" value="Apply" ng-click="applyPolicy()"></td>
                </tr>           
                
            </table>
        </div>

        <div class="table-body">
            <table>
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="10">
                        {{annots.no_rows_msg}}
                    </td>
                </tr>

                <tr ng-repeat="policy in tableData track by $index">
                    <td>{{policy.id}}</td>                    
                    <td>{{policy.mon_mac_addr}}</td>
                    <td>{{policy.dev_id}}</td>
                    <td>{{policy.dev_port}}</td>
                    <td>{{policy.src_mac_addr}}</td>
                    <td>{{policy.dst_mac_addr}}</td>
                    <td>{{policy.protocol}}</td>
                    <td>{{policy.src_port_num}}</td>
                    <td>{{policy.dst_port_num}}</td>
                    
                    <td>{{policy.dst_port_num}}</td>
                    
                    <td><input type="button" value="Remove" ng-click="removePolicy(policy, $index)"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
