/* css for sample app custom view */

#ov-vtap-view {
    padding: 20px;
}
.light #ov-vtap-view {
    color: navy;
}
.dark #ov-vtap-view {
    color: #88f;
}

#ov-vtap-view .button-panel {
    margin: 10px;
    width: 200px;
}

.light #ov-vtap-view .button-panel {
    background-color: #ccf;
}
.dark #ov-vtap-view .button-panel {
    background-color: #444;
}

#ov-vtap-view .my-button {
    cursor: pointer;
    padding: 4px;
    text-align: center;
}

.light #ov-vtap-view .my-button {
    color: white;
    background-color: #99d;
}
.dark #ov-vtap-view .my-button {
    color: black;
    background-color: #aaa;
}

#ov-vtap-view .number {
    font-size: 140%;
    text-align: right;
}

#ov-vtap-view .quote {
    margin: 10px 20px;
    font-style: italic;
}